@page
@model LockoutModel
@{
    ViewData["Title"] = "Account vergrendeld";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Dit account is vergrendeld. Probeer later opnieuw.</p>
</header>
