@{ ViewData["Title"] = "Home Page"; }

<!doctype html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="de shop match">
    <meta name="author" content="">
</head>
<body>
    Welkom bij deze pagina, U bent succesvol ingelogd!
</body>
</html>